/* default settind */
*{
    /* font-family: 'Jomhuria'; */
    font-style: normal;
    box-sizing: border-box;
    padding: 0;margin: 0;
   
}
::-webkit-scrollbar
{
    display: none;
}
/* Navigation sector */

.navbar-brand{
    font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
    /* font-display: swap; */
}
.navbar-light .navbar-nav .nav-link {
    color: #1e7e34;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #131313;
    font-weight: bold;
}
/* Landing Page */

#home
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(../images/6.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow-y: hidden;
}
.contentHeader
{
    /* position: absolute; */
  margin-top: 140px;
  color:#fff;

}
.contentHeader h2{
    font-size: 3rem;
    font-family: 'Caveat';
    font-style: normal;
    font-weight:300;
}





/* ::::::RECENT PROPRTIES::::: */
#recentProperties

{
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    background-color: rgba(21, 22, 22, 0.193);
}
/* #recentPropertie h2::after
{
    content:"";
    display: block;
    background:red;
    margin:auto;
} */



/* :::::ABOUT:::: */
#about
{
    color:#fff;
    padding: 50px;
margin-right: 50vh;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/6.jpg);
min-height: 50vh;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;


}

/* :::FOOTER::: */

#footer
{
    background-color:black;
    /* min-height: 20vh; */
    width: 100%;
    color:#fff;

}

.links a
{
    color:#fff;
    text-decoration: none;
}

/* :::FOOTER:: */
#testmonials
{
    padding: 100px;
    width: 100%;
    min-height: 80vh;
}



